.triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 0 8.5px 14.7px;
  border-color: transparent transparent transparent #FFFFFF;
}

.triangle-right.inactive, .triangle-left.inactive {
  opacity: 0.5;
}

.triangle-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 14.7px 8.5px 0;
  border-color: transparent #ffffff transparent transparent;
}

.player {
  position: relative;
  font-family: 'Open Sans';
  background: #323232;
  overflow: hidden;
  color: #FFFFFF;
}

.player > .background-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #323232 url('http://i.imgur.com/Ez8LfSZ.jpg') no-repeat 50% 50% / 150% auto;
  filter: blur(5px);
}

.player > .info {
  position: relative;
  background: rgba(50, 50, 50, 0.85);
}

.player > .info > .cover {
  width: 100%;
  padding-top: 80%;
  position: relative;
}

.player > .info > .cover > .image {
  background: #323232 url('http://i.imgur.com/Ez8LfSZ.jpg') no-repeat 50% 50% / cover;
  width: 60%;
  position: absolute;
  padding-bottom: 60%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player > .info > .meta {
  text-align: center;
}

.player > .info > .meta > .title {
  font-weight: 600;
  font-size: 14px;
}

.player > .info > .meta > .artist {
  font-size: 12px;
  color: #999999;
}

.player > .info > .controls {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* PLAYBUTTON */

.playbutton {
  position: relative;
  height: 30px;
  width: 30px;
  transform: rotate(0);
  transition: all 0.5s;
}
.playbutton > div {
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 20%;
  border-radius: 5px;
}
.playbutton.paused {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.playbutton > .bar1 {
  top: 50%;
  transform: translate(-40%, -50%) rotate(90deg);
  transition: all 0.5s;
  left: 0;
}
.playbutton > .bar2 {
  transform: rotate(27deg) translate(0%, -50%);
  top: 28%;
  width: 107.8%;
  right: 1%;
  transition: all 0.5s;
}
.playbutton > .bar3 {
  transform: rotate(-27deg) translate(0%, -50%);
  top: 69%;
  width: 108.8%;
  right: -9%;
  transition: all 0.5s;
}

.playbutton.paused > .bar3 {
  transform: rotate(90deg) translate(0, 0);
  width: 100%;
  right: -24%;
  top: 40%;
  transition: all 0.5s;
}

.playbutton.paused > .bar1 {
  left: 15%;
  transition: all 0.5s;
}

.playbutton.paused > .bar2 {
  transform: rotate(90deg) translate(0, 0);
  width: 100%;
  right: -24%;
  top: 40%;
  transition: all 0.5s;
}

/* MUTEBUTTON */
.mute > * {
  display: inline-block;
  position: relative;
}

.mute > .waves {
  width: 30px;
  padding-top: 50%;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.5s;
  margin-left: -10%;
}

.mute.muted > .waves {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.mute > .waves > div {
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-color: transparent #ffffff transparent transparent;
  right: 66%;
  transform: translateY(-50%);
  animation: mute 3s;
  transition: 0.5s all, 0.001 border-bottom-color;
}

.mute > .waves > .wave2 {
  height: 150%;
  width: 150%;
  right: 33%;
  transition: 0.5s all, 0.001s border-top-color;
}
.mute.muted .waves > .wave1 {
  border-radius: 0;
  border-bottom-color: #FFFFFF;
  width: 50%;
  height: 50%;
  transform: rotate(45deg);
  top: -1%;
  left: 22%;
  transition: 0.5s all;
}
.mute.muted .waves > .wave2 {
  width: 50%;
  height: 50%;
  border-radius: 0;
  transform: rotate(-45deg);
  border-top-color: #ffffff;
  left: 21%;
  top: 55%;
  transition: 0.5s all;
}
